#navbar {
  height: auto;
  border-radius: 8px;
  position: static;
  padding: 15px 25px;
  background-color: var(--bg-secondary);
  color: var(--text-warning);
  grid: [start] "first second third" [end]
        / 1fr 7fr 1fr;
  @media (min-width: 600px) {
    grid: [start] "first second third" [end]
          / 6fr 2fr 1fr;
  }
}

#navbar-title {
  grid-area: second;
  align-content: end;
  justify-content: center;
  display: grid;
  font-size: 36px;

  @media (min-width: 600px) {
    justify-content: start;
    grid-area: first;
  }
}

#navigation {
  align-content: center;
}

#mobile-nav-menu {
  position: absolute;
  height: auto;
  width: auto;
  background-color: var(--text-primary);
  padding: 10px 5px;
  z-index: 200;

  div {
    color: var(--text-warning);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
  }
}

#mobile-nav-menu-btn {
  font-size: 20px;
  color: inherit;
  background-color: inherit;
  border: none;
}

#desktop-nav {
  grid-area: second;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  align-items: center;
}

.desktop-nav-link {
  padding: 0 2px;
  text-decoration: none;
  color: var(--text-warning);
}

#user-avatar {
  height: 30px;
  width: 30px;
}

.user-menu-icon {
  justify-items: end;
  align-items: center;
}

#user-menu {
  position: absolute;
  height: auto;
  width: auto;
  background-color: var(--text-primary);
  padding: 10px 5px;
  z-index: 201;

  div {
    color: var(--text-warning);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
  }
}
