.container {
  margin: 10px;
}

.item {
  margin: 10px;
}

.box {
  padding: 10px;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

.center {
  align-items: center;
  justify-content: center;
}

.left {
  justify-content: left;
}

.top {
  justify-content: start;
}

