/*
  // MUI PAPER CLONES
*/

.card1 {
  box-shadow: 0px 1.5px 4px -1.5px #000;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
.card2 {
  box-shadow: 0px 2px 8px -2px #000d;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
.card3 {
  box-shadow: 0px 2.5px 12px -3.5px #000d;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
.card4 {
  box-shadow: 0px 2.5px 18px -3.5px #000d;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
