body {
  --bg-primary: #073E55;
  --bg-secondary: #306678;
  --text-primary: #9AB3BA;
  --text-warning: #FDCB0B;
}

body.dark-theme {
  --bg-primary: #020e13;
  $bg-primary: #020e13;
  --bg-secondary: #17313a;
  --text-primary: #9AB3BA;
  --text-warning: #c0a94d;
}
