@use '../base/mixins/paper';
/*
  // MUSIC DISPLAY
*/

.music-cntnr {
  padding: 20px 20px;
  height: 90vh;
}

#music-list-hdr-txt {
  padding-bottom: 15px;
}

#music-list {
  height: 70vh;
  overflow: scroll;
}

.music-list-item {
  @include paper.card(1);
  width:250px;
  padding-bottom: 8px;
  cursor: pointer;
}

.music-list-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 17px;
}

.music-list-text {
  margin: 0;
  font-size: 14px;
}

.music-media {
  padding: 7px 0 0 15px;
  width: 75%;
  height: 100%;
}

.music-disp-cntnr {
  overflow: scroll;
  height: 70%;
}

.music-display {
  padding: 20px;
}

.no-music-cntnr {
  background-color: #ede9f7;
  border-radius: 5px;
  padding: 5px 16px;
  width: 50%;
}

.music-media-blank {
  width: 75%;
  display: grid;
  margin: auto;
  align-content: center;
  justify-content: center;
}

.no-music-selected-msg {
  font-size: 28px;
  font-weight: 600;
  align-items: center;
}

.audio-player {
  width: 100%;
  height: 30%;
  margin-top: 15px;
}

#recording-item {
  grid: 1fr 1fr / 1fr 1fr;
}

.recording-title {
  color: var(--text-primary)
}
