.container {
  margin: 10px;
}

.item {
  margin: 10px;
}

.box {
  padding: 10px;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

.center {
  align-items: center;
  justify-content: center;
}

.left {
  justify-content: left;
}

.top {
  justify-content: start;
}


/*
  // MUI PAPER CLONES
*/

.card1 {
  box-shadow: 0px 1.5px 4px -1.5px #000;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
.card2 {
  box-shadow: 0px 2px 8px -2px #000d;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
.card3 {
  box-shadow: 0px 2.5px 12px -3.5px #000d;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}
.card4 {
  box-shadow: 0px 2.5px 18px -3.5px #000d;
  background-color: #fff;
  border: 2px;
  border-radius: 5px;
}


/* @media (max-width: 421px) {
  #navbar-title {
    margin: auto;
  }
} */

/*
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}
*/
/*
 Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {}
*/
/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {}
*/
/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {}
*/
/*
Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}
*/
